.newRoomModalStyled {
  width: 550px;
  height: 750px;
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.inputsStyled {
  display: flex;
  flex-direction: column;
}
.inputStyled {
  width: 350px;
  height: 35px;
  margin: 5px;
  border: none;
  border-radius: 10px;
}
.selectStyled__list{
  background-color: aqua;
}
.selectStyled__item{
  background-color: fuchsia;
}

.controlButtonStyled {
  width: 170px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
