.goGameModalStyled {
  width: 550px;
  height: 750px;
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalInfoStyled {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.roomNameStyled {
  color: white;
}
.roomGameStyled {
  color: white;
}
.roomUsersStyled {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 10px;
}
.roomUsersInfoStyled {
  display: flex;
  border-bottom: solid 1px gray;
  padding: 5px;
}
.roomUsersInfoStyled:last-child {
  border-bottom: none;
}

.roomControlButtonsStyled {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.messageToConnectStyled {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 60px;
  font-size: 20px;
}

.controlButtonStyled {
  width: 170px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
