.headerStyled {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.imageLogoStyled {
  width: 143px;
  height: 50px;
}

.buttonProfileStyled {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
